@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);
@import url(https://fonts.googleapis.com/css?family=Lexend);
body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
